h4 {
    color: red;
    text-align: center;
}

.text-center {
    color: darkcyan;
}

.col-sm-12{
    text-align: center;
    color: deeppink;
}

a {
    color: deepskyblue;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    padding-left: 575px;
    padding-right: 550px;


}

.background {
    background-color: black;
    align-content: space-around;
    padding-left: 20px;
    padding-right: 50px;
}
h3 {
    color: orange;
    text-align: center;
}
h6 {
    color: darkslateblue;
    text-align: center;
}

p {
    text-align: center;
    color: deeppink;
}

ul {
    color: whitesmoke;
    text-align: center;
}

h5 {
    text-align: center;
    color: darkgreen;
}