<div ng-if="$ctrl.character">
    <table>
        <tr><th></th><td><div class="close-x" ng-click="$ctrl.close()">x</div></td></tr>
        <tr><th>Name:</th><td>{{ $ctrl.character.name }}</td></tr>
        <tr><th>hair color:</th><td>{{ $ctrl.character.hair_color }}</td></tr>
        <tr><th>birth year:</th><td>{{ $ctrl.character.birth_year }}</td></tr>
        <tr><th>gender:</th><td>{{ $ctrl.character.gender }}</td></tr>
        <tr><th>skin color:</th><td>{{ $ctrl.character.skin_color }}</td></tr>
        <tr><th>height:</th><td>{{ $ctrl.character.height }}</td></tr>
    </table>
</div>