<h1>Star Wars Characters</h1>

<div>
Filter: <input type="text" ng-model="$ctrl.searchText">
</div>
<br />

<table>
    <tr>
        <th ng-click="$ctrl.orderList('name')"><a href="#">Name</a></th>
        <th ng-click="$ctrl.orderList('gender')"><a href="#">Gender</a></th>
        <th ng-click="$ctrl.orderList('eye_color')"><a href="#">Eye Color</a></th>
        <th ng-click="$ctrl.orderList('birth_year')"><a href="#">Year Born</a></th>
        <th ng-click="$ctrl.orderList('mass')"><a href="#">Weight</a></th>
        <th ng-click="$ctrl.orderList('skin_color')"><a href="#">Skin</a></th>

    </tr>
    <tr ng-repeat="character in $ctrl.characters | filter:$ctrl.searchText | orderBy: $ctrl.sort" ng-class-odd="'row-shadow'">
        <td>{{ character.name }}</td>
        <td>{{ character.gender }}</td>
        <td>{{ character.eye_color }}</td>
        <td>{{ character.birth_year }}</td>
        <td>{{ $ctrl.getWeightInPounds(character) | number:1 }} lbs</td>
        <td>{{ character.skin_color }}</td>
    </tr>
</table>
