
<div class="jumbotron">
    <div class="text-center">
        <img src="img/2bucklogo.png" alt="I am Sock">
    </div>
    <h1> Your Single Sock source <small>
        <a href="http://gulpjs.com/"></a>
        <a href="getbootstrap.com"></a>
        <a href="http://lesscss.org/"></a></small></h1>
</div>
<!--<a ui-sref="login" class="button btn btn-white btn-outline btn-lg btn-rounded">Login</a>-->
<button ui-sref="login" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>
<ul class="list-group">
    <!--<li ng-repeat="task in tasks" class="list-group-item">{{task}}</li>-->
</ul>