<div class="login-page">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <img src="img/2bucklogo.png" class="user-avatar" />
            <h1>2 Buck Socks <small>Single Sock Source</small></h1>
            <form role="form" ng-submit="submit()">

                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>
                <button ui-sref="store" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Get Socks!!!!!</button>

            </form>

        </div>
    </div>

</div>

<div>
    <button ng-if="vm.displayName" class="md-raised" ng-click="vm.logout()">You are {{ vm.displayName }}</button>
    <!--<md-button ng-if="!vm.displayName" class="md-raised md-primary" ng-click="vm.login('facebook')">Login with Facebook</md-button>-->
    <button ng-if="!vm.displayName" class="md-raised md-primary" ng-click="vm.login('google')">Login with Google</button>
</div>